In [2]:
import pandas as pd
student = "Resources/students_complete.csv"
school = "Resources/schools_complete.csv"
student_csv = pd.read_csv(student)
school_csv = pd.read_csv(school)
#student_csv.head()
#student_csv.count() 
#student_csv["school_name"].value_counts()

In [3]:
totalschool = school_csv["School ID"].count()
totalstu = student_csv["Student ID"].count()
#print(totalstu)
budget = school_csv["budget"].sum()
mathavg = student_csv["math_score"].mean()
readavg = student_csv["reading_score"].mean()
mathpass = student_csv.loc[student_csv["math_score"] > 69]
#print(mathpass)
mathpercent = (mathpass["math_score"].count() / totalstu) * 100
readpass = student_csv.loc[student_csv["reading_score"] > 69]
#print(readpass)
readpercent = (readpass["reading_score"].count() / totalstu) * 100
overall = (mathpercent + readpercent) / 2
columns = ["Total Schhol", "Total Student", "Total Budget", "Average Math Score", "Average Reading Score", 
          "% Passing Math", "% Passing Reading", "Overall Passing Rate"]

In [4]:
#District Summary
district_df = pd.DataFrame({
    "Total Schools": [totalschool],
    "Total Students": [totalstu],
    "Total Budget": [budget],
    "Average Math Score": ["{:,.2f}".format(mathavg)],
    "Average Reading Score": ["{:,.2f}".format(readavg)],
    "% Passing Math": ["{:,.2f}".format(mathpercent)],
    "% Passing Reading": ["{:.2f}".format(readpercent)],
    "Overall Passing Rate": ["{:.2f}".format(overall)]
})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,92.45,100.00,96.22

In [224]:
schoolnames = school_csv["school_name"]
#print(schoolnames)
schooltype = school_csv["type"]
#print(schooltype)
schoolsize = school_csv["size"]
schoolbudget = school_csv["budget"]
#print(schoolbudget[0])
perstu = schoolbudget / schoolsize
#print(perstu)
huangmath = (student_csv.loc[student_csv["school_name"] == "Huang High School", "math_score"]).mean()
figmath = student_csv.loc[student_csv["school_name"] == "Figueroa High School", "math_score"].mean()
shelmath = student_csv.loc[student_csv["school_name"] == "Shelton High School", "math_score"].mean()
hernmath = student_csv.loc[student_csv["school_name"] == "Hernandez High School", "math_score"].mean()
grifmath = student_csv.loc[student_csv["school_name"] == "Griffin High School", "math_score"].mean()
wilmath = student_csv.loc[student_csv["school_name"] == "Wilson High School", "math_score"].mean()
cabmath = student_csv.loc[student_csv["school_name"] == "Cabrera High School", "math_score"].mean()
bailmath = student_csv.loc[student_csv["school_name"] == "Bailey High School", "math_score"].mean()
holdmath = student_csv.loc[student_csv["school_name"] == "Holden High School", "math_score"].mean()
penamath = student_csv.loc[student_csv["school_name"] == "Pena High School", "math_score"].mean()
wrimath = student_csv.loc[student_csv["school_name"] == "Wright High School", "math_score"].mean()
rodmath = student_csv.loc[student_csv["school_name"] == "Rodriguez High School", "math_score"].mean()
johnmath = student_csv.loc[student_csv["school_name"] == "Johnson High School", "math_score"].mean()
fordmath = student_csv.loc[student_csv["school_name"] == "Ford High School", "math_score"].mean()
thomath = student_csv.loc[student_csv["school_name"] == "Thomas High School", "math_score"].mean()
peravgmath = [float(huangmath), float(figmath), float(shelmath), float(hernmath), float(grifmath), float(wilmath), 
              float(cabmath), float(bailmath), float(holdmath), float(penamath), float(wrimath), float(rodmath), 
              float(johnmath), float(fordmath), float(thomath)]
#x = int(huangmath.count()) + int(figmath.count()) + int(shelmath.count()) + int(hernmath.count()) + int(grifmath.count()) + int(wilmath.count()) + int(cabmath.count()) + int(bailmath.count()) + int(holdmath.count()) + int(penamath.count()) + int(wrimath.count()) + int(rodmath.count()) + int(johnmath.count()) + int(fordmath.count()) + int(thomath.count()) 
#print(x)

In [225]:
huangread = student_csv.loc[student_csv["school_name"] == "Huang High School", "reading_score"].mean()
figread = student_csv.loc[student_csv["school_name"] == "Figueroa High School", "reading_score"].mean()
shelread = student_csv.loc[student_csv["school_name"] == "Shelton High School", "reading_score"].mean()
hernread = student_csv.loc[student_csv["school_name"] == "Hernandez High School", "reading_score"].mean()
grifread = student_csv.loc[student_csv["school_name"] == "Griffin High School", "reading_score"].mean()
wilread = student_csv.loc[student_csv["school_name"] == "Wilson High School", "reading_score"].mean()
cabread = student_csv.loc[student_csv["school_name"] == "Cabrera High School", "reading_score"].mean()
bailread = student_csv.loc[student_csv["school_name"] == "Bailey High School", "reading_score"].mean()
holdread = student_csv.loc[student_csv["school_name"] == "Holden High School", "reading_score"].mean()
penaread = student_csv.loc[student_csv["school_name"] == "Pena High School", "reading_score"].mean()
wriread = student_csv.loc[student_csv["school_name"] == "Wright High School", "reading_score"].mean()
rodread = student_csv.loc[student_csv["school_name"] == "Rodriguez High School", "reading_score"].mean()
johnread = student_csv.loc[student_csv["school_name"] == "Johnson High School", "reading_score"].mean()
fordread = student_csv.loc[student_csv["school_name"] == "Ford High School", "reading_score"].mean()
thoread = student_csv.loc[student_csv["school_name"] == "Thomas High School", "reading_score"].mean()
#y = int(huangread.count()) + int(figread.count()) + int(shelread.count()) + int(hernread.count()) + int(grifread.count()) + int(wilread.count()) + int(cabread.count()) + int(bailread.count()) + int(holdread.count()) + int(penaread.count()) + int(wriread.count()) + int(rodread.count()) + int(johnread.count()) + int(fordread.count()) + int(thoread.count())
#print(y)
peravgread = [float(huangread), float(figread), float(shelread), float(hernread), float(grifread), float(wilread), 
              float(cabread), float(bailread), float(holdread), float(penaread), float(wriread), float(rodread), 
              float(johnread), float(fordread), float(thoread)]

81.18272197463148

In [226]:

schoolsum_df = pd.DataFrame({
    "School Name": schoolnames,
    "School Type": schooltype,
    "Total Students": schoolsize,
    "Total School Budget": schoolbudget,
    "Per Student Budget": perstu,
    "Average Math Score": peravgmath,
    "Average Reading Score": peravgread
})
schoolsum_df.set_index("School Name")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
School Name,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Holden High School,Charter,427,248087,581.0,83.803279,83.814988
Pena High School,Charter,962,585858,609.0,83.839917,84.044699
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130